@import "bootstrap/bootstrap.less";
@import "bootstrap/bootswatch.less";

body {
  padding-bottom: 40px;
}


@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Mark Nguyen
   ========================================================================== */
.navbar {
    .brand {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 75px;
    }
    .btn {
        box-sizing: border-box;
    }

    .nav li a{
        height: 75px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

// Login page ==============

#btnYahoo {
    @bg: #6c3f9c;
    @bgh: saturate(darken(@bg, 10%), 10%);
    .buttonBackground(@bg, @bgh);
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    &:hover {
        color: white;
    }
}
#btnGoogle {
    @bg: #356da2;
    @bgh: saturate(darken(@bg, 10%), 10%);
    .buttonBackground(@bg, @bgh);
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    &:hover {
        color: white;
    }
}
#btnOpenID {
    @bg: #c7c7c7;
    @bgh: darken(@bg, 10%);
    .buttonBackground(@bg, @bgh);
}

#federated {
    p {
        .clearfix()
    }
}
//==========================

.navbar-fixed-top {
    position: static;
    margin-bottom: 16px;
}

.tabbable ul.nav-tabs {
    width: 100%;
    li.active a {
        background-color: @bodyBackground;
    }
}

#toolbar {
    .clearfix();
}


#main {
    .inline{
        display: inline;
    }

    #header {
        background-color: @bodyBackground;
        border-bottom: 1px solid #ddd;
    }


    table {
        table-layout: fixed;
        .check {
            width: 1em;
        }
        .date {
            width: 6em;
        }

        .in { width: 3em; }
        .out { width: 3em; }
        .total { width: 4em; }
        .comment {
            word-wrap: break-word;
        }


    }
}


