<div class='container'>
    <div class='row'>

        <div class='span6'>
            <p><a href='/auth/google' title='Sign in with Google' class='btn'>Sign in with Google</a></p>
        </div>
        <div class='span6'>

        </div>
        
    </div>
</div>
