<div class='container'>
    <div class='row'>
        <div class='span2' id='sidebar'>
            <div class='row'>
                <div class='span2 sticky'>
                    <div class='tabbable tabs-left'>
                        <ul class='nav nav-tabs'>
                            <li><a href='#'>Overview</a></li>
                            <li class='active'><a href='#'>Taivara</a></li>
                            <li><a href='#'>OSU</a></li>
                            <li><a href='#'>Some place</a></li>
                            <li> <a href='#'><i class='icon-plus-sign'></i> New project</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            &nbsp;
        </div>
        <div class='span7' id='main'>

            <div class='row'>
                <div id ='header' class='span7 sticky'>
                    <div class='btn-toolbar'>
                        <h1 class='inline'>Taivara</h1>
                        <div class='pull-right'>
                            <div class='btn-group'>
                                <a class='btn' id='btnAdd'><i class='icon-plus-sign'></i></a>
                                <a class='btn' id='btnDelete'><i class='icon-trash'></i></a>
                            </div>
                            <div class='btn-group'>
                                <a class='btn' id='btnPrevious'><i class='icon-chevron-left'></i></a>
                                <a class='btn' id='btnCurrentPage' disabled>1</a>
                                <a class='btn' id='btnNext'><i class='icon-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class='table table-condensed'>
                <thead>
                    <tr>
                        <th class='check'></th>
                        <th class='date'>Date</th>
                        <th class='in'>In</th>
                        <th class='out'>Out</th>
                        <th class='total'>Total</th>
                        <th class='comment'>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>
                    <tr>
                        <td class='check'><input type='checkbox' class='checkbox'/></td>
                        <td class='date'>07/18/2012</td>
                        <td class='in'>10am</td>
                        <td class='out'>5pm</td>
                        <td class='total'>7 hrs</td>
                        <td class='comment'></td>
                    </tr>

                </tbody>

            </table>

        </div>
        <div class='span3' id='extra'>
            <div class='sticky'>
                <div id='searchComment' class='input-append btn-toolbar'>
                    <input type='text' size='16' placeholder='Search comments'><a class='btn'><i class='icon-search'></i></a>
                </div>
                <div id='filterByDate'>
                    <label class='checkbox'><input type='checkbox' /> Filter by date</label>
                    <input type='text' value='July 6, 2012 to July 18, 2012' disabled></input>
                </div>
                <div id='status'>
                    <p>5 items selected, total 30 hours</p>
                </div>
            </div>
        </div>
    </div>

</div>

<% content_for :scripts do %>
<% end %>
